#**Article Recommender App**


This is a collab sheet for data merging and unzipping of the codes . Following have cpdes for Part 1 . After preparing this data it can be used for implementing a react native application .


Collab sheet's code by satvik .

####***Part - A (1)  Importing data from .kaggle.com***

##**Steps** :--

### **(1)** Working on terminal first 

Installing kaggle using *pip install* command .

######***Remember to install the kaggle.json file before working on below given codes*** . ðŸ‘‡ðŸ‘‡ðŸ‘‡

In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.5.30)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

making directory and giving permissions .

In [2]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

!chmod 600 ~/.kaggle/kaggle.json

Now installing dataset zip file to work .

In [3]:
!kaggle datasets download -d gspmoreira/articles-sharing-reading-from-cit-deskdrop

Downloading articles-sharing-reading-from-cit-deskdrop.zip to /content
 61% 5.00M/8.20M [00:00<00:00, 7.56MB/s]
100% 8.20M/8.20M [00:00<00:00, 23.6MB/s]

Listing files to check .

In [4]:
!ls

articles-sharing-reading-from-cit-deskdrop.zip	kaggle.json  sample_data

Unzipping the zipped file to get the .csv files for working .

In [5]:
!unzip articles-sharing-reading-from-cit-deskdrop.zip

Archive:  articles-sharing-reading-from-cit-deskdrop.zip
  inflating: shared_articles.csv
  inflating: users_interactions.csv

Listing

In [6]:
!ls

articles-sharing-reading-from-cit-deskdrop.zip	shared_articles.csv
kaggle.json					users_interactions.csv
sample_data

**(2)** Importing dependencies and reading the csv files .

In [7]:
import pandas as pd 
import numpy as np 

df1=pd.read_csv('shared_articles.csv')
df2=pd.read_csv('users_interactions.csv')

**(3)** Checking the headers of df1 variable's csv file .

In [8]:
df1.head()

    timestamp  ... lang
0  1459192779  ...   en
1  1459193988  ...   en
2  1459194146  ...   en
3  1459194474  ...   en
4  1459194497  ...   en

[5 rows x 13 columns]

**(3)** Checking the headers of df2 variable's csv file .

In [9]:
df2.head()

    timestamp eventType  ...  userRegion  userCountry
0  1465413032      VIEW  ...         NaN          NaN
1  1465412560      VIEW  ...          NY           US
2  1465416190      VIEW  ...         NaN          NaN
3  1465413895    FOLLOW  ...         NaN          NaN
4  1465412290      VIEW  ...         NaN          NaN

[5 rows x 8 columns]

####***PART - B (2) Demographic filtering***

*Now , we are going to understand the data that we got in the last project (articleâ€™s data), analyse it and then perform demographic filtering on it!*


######**Demographic Filtering (DF) technique uses the demographic data of a user to determine which items may be appropriate for recommendation.**######

In [10]:
df1 = df1[df1['eventType'] == 'CONTENT SHARED']
df1.head()

    timestamp  ... lang
1  1459193988  ...   en
2  1459194146  ...   en
3  1459194474  ...   en
4  1459194497  ...   en
5  1459194522  ...   en

[5 rows x 13 columns]

In [11]:
df2.shape

(72312, 8)

In [12]:
df1.shape

(3047, 13)

In [13]:
def find_total_events(df1_row):
  total_likes = df2[(df2["contentId"] == df1_row["contentId"]) & (df2["eventType"] == "LIKE")].shape[0]
  total_views = df2[(df2["contentId"] == df1_row["contentId"]) & (df2["eventType"] == "VIEW")].shape[0]
  total_bookmarks = df2[(df2["contentId"] == df1_row["contentId"]) & (df2["eventType"] == "BOOKMARK")].shape[0]
  total_follows = df2[(df2["contentId"] == df1_row["contentId"]) & (df2["eventType"] == "FOLLOW")].shape[0]
  total_comments = df2[(df2["contentId"] == df1_row["contentId"]) & (df2["eventType"] == "COMMENT CREATED")].shape[0]
  return total_likes + total_views + total_bookmarks + total_follows + total_comments

df1["total_events"] = df1.apply(find_total_events, axis=1)

df1.head()

    timestamp       eventType  ...  lang  total_events
1  1459193988  CONTENT SHARED  ...    en             1
2  1459194146  CONTENT SHARED  ...    en             1
3  1459194474  CONTENT SHARED  ...    en            13
4  1459194497  CONTENT SHARED  ...    en             0
5  1459194522  CONTENT SHARED  ...    en             2

[5 rows x 14 columns]

In [14]:
df1 = df1.sort_values(['total_events'], ascending=[False])

df1.head()

       timestamp       eventType  ...  lang  total_events
3096  1487246811  CONTENT SHARED  ...    en           433
1671  1467813728  CONTENT SHARED  ...    pt           315
1814  1468867647  CONTENT SHARED  ...    pt           294
1317  1465484901  CONTENT SHARED  ...    en           294
588   1461629452  CONTENT SHARED  ...    pt           281

[5 rows x 14 columns]

####**PART - C**

#####*Content based filtering*

WHAT IS CONTENT BASED FILTERING ?

**[ Ans ] :--** *Content-based filtering is a type of recommender system that attempts to guess what a user may like based on that user's activity. Content-based filtering makes recommendations by using keywords and attributes assigned to objects in a database (e.g., items in an online marketplace) and matching them to a user profile.*

*..src=www.upwork.com*

Codes by : satvik

In [29]:
#df1[['title', 'contentType', 'url', 'text', 'lang','contentId']].head(3)

In [28]:
def convert_lowercase(x):
  if isinstance(x, str):
      return x.lower()
  else:
      return ''

df1["title"] = df1["title"].apply(convert_lowercase)

df1.head()

       timestamp       eventType  ...  lang  total_events
3096  1487246811  CONTENT SHARED  ...    en           433
1671  1467813728  CONTENT SHARED  ...    pt           315
1814  1468867647  CONTENT SHARED  ...    pt           294
1317  1465484901  CONTENT SHARED  ...    en           294
588   1461629452  CONTENT SHARED  ...    pt           281

[5 rows x 14 columns]

In [30]:
from sklearn.feature_extraction.text import CountVectorizer
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df1['title'])

In [31]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [32]:
df1 = df1.reset_index()
indices = pd.Series(df1.index, index=df1['contentId'])

In [33]:
def get_recommendations(contentId, cosine_sim):
    idx = indices[contentId]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return df1['contentId'].iloc[movie_indices]

In [36]:
get_recommendations(-7292285110016212249, cosine_sim2)

286    -7986975759046428357
885     -724699218170106849
1989    7372398343609401828
1873    8084284001249507595
149     2727743992157210358
215     1436883058900979473
695    -6778286518036232293
959    -6195775145989617417
1254    5304344058087060692
2817   -7926018713416777892
Name: contentId, dtype: int64

In [37]:
from google.colab import files

df1.to_csv('data.csv')
files.download('data.csv')